* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  /* TODO */
  background: rgb(244,113,6);
  background: linear-gradient(90deg, rgba(244,113,6,1) 0%, rgba(214,41,205,1) 59%, rgba(238,9,37,1) 100%);
}

input {
 /* TODO */
}

.search-container {
 /* TODO */
 position: relative;
 width: 300px;
 margin: 50px auto;
}
.search-container input,
.search-container .suggestions {
  /* TODO 
  display: flex;
  align-items: center;
  justify-content: center;*/
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.search-container input {
 /* TODO */
 display: flex;
 align-items: center;
 justify-content: center;
}
.search-container .suggestions {
   /* TODO 
   display: flex;
   align-items: center;
   justify-content: center;*/
   border: 1px solid #ccc;
   border-top: none;
   max-height: 150px;
   overflow-y: auto;
   position: absolute;
   width: 100%;
   background-color: #fff;
   z-index: 1;
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
  padding: 10px;
  cursor: pointer;
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}