

body {
  /* TODO */
  background: rgb(244,113,6);
  background: linear-gradient(90deg, rgba(244,113,6,1) 0%, rgba(214,41,205,1) 59%, rgba(238,9,37,1) 100%);
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(129, 206, 230);
}

.search-container {
 /* TODO */
 position: relative;
 width: 300px;
 margin: 50px auto;
}
.search-container input,
.search-container .suggestions {
  /* TODO 
  display: flex;
  align-items: center;
  justify-content: center;*/
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.search-container input {
 /* TODO */
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgb(129, 206, 230);
}
.search-container .suggestions {
   /* TODO 
   display: flex;
   align-items: center;
   justify-content: center;*/
   border: 1px solid #ccc;
   border-top: none;
   max-height: 150px;
   overflow-y: auto;
   position: absolute;
   width: 100%;
   background-color: rgb(129, 206, 230);
   z-index: 1;
}

ul {
  list-style-type: none;
}
ul.has-suggestions {
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}
ul li:hover {
  background-color: rgb(137, 13, 238);
  font-size: 20px;
  transition: 0.8s;
}

