* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  /* TODO */
  background: rgb(244,113,6);
  background: linear-gradient(90deg, rgba(244,113,6,1) 0%, rgba(214,41,205,1) 59%, rgba(238,9,37,1) 100%);
}

input {
 /* TODO */
}

.search-container {
 /* TODO */
 display: flex;
 align-items: center;
 justify-content: center;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container input {
 /* TODO */
 display: flex;
 align-items: center;
 justify-content: center;
}
.search-container .suggestions {
   /* TODO */
   display: flex;
   align-items: center;
   justify-content: center;
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
}

input {
   /* TODO */
}